.volumeKnob {
    position: relative;
    display: flex;
    align-items: center;

    .muteButton {
        background: none;
        border: none;
        // cursor: pointer;
        // color: white;
        padding: 0.5rem;
    }

    .volumeSlider {
        position: absolute;
        bottom: -20px;
        width: 150px;
        padding: 0.5rem;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        rotate: 90deg;
        translate: 15%;

        /* SCSS or CSS Module */
        input[type="range"] {
            appearance: none;
            -webkit-appearance: none;
            width: 100%;
            height: 30px;
            border-radius: 3px;
            background: rgba(255, 255, 255, 0.5); /* fallback */
            box-shadow: 3px -3px 1px 0px rgba(0, 0, 0, 0.1);

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                width: 0px;
                height: 0px;
                border-radius: 50%;
                background: white;
                // cursor: pointer;
            }

            &::-moz-range-thumb {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: white;
                // cursor: pointer;
            }

            &::-moz-range-track {
                height: 6px;
                background: transparent;
            }
        }
    }
}
