.dialogueBox {
    border-radius: 22px;
    width: 80%;
    max-width: 1200px;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
    background-color: oklch(98.5% 0.002 247.839);
    // cursor: pointer;

    box-shadow:
        10px 10px 1px 0px rgba(0, 0, 0, 0.1),
        0px 0px 1px 7px rgba(0, 0, 0, 0.1) inset;
}

.dialogueArrow {
    rotate: 180deg;
}
